#img {
      width: 400px;
    }
   #btn1{
    width: 200px;
    background-color: #FF4500;
    height: 40px; 
    color: black;
   }
   #btn2{
     width: 200px;
    background-color: #FF4500;
    height: 40px; 
    color: black;
   }