#img{
      width: 200px;
    }
    #img2 {
      width: 200px;
    }
    #body{
      background-color: white;
    }
    #h2 {
      color: white;
    }
    #btn1 {
      width: 200px;
    background-color: #ff7f00 ;
    height: 40px;
    color: black;
    border-radius: 15px;
    border: none;
   font-size: 18px;
   }
    #agmt {
      font-size: 35px;
    }
    #agmt2 {
      font-size: 30px;
    }
    #seta {
   width: 200px;
   font-size: 200px;
    }
    #h2{
      font-size: 17px;
    }