@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&display=swap');

body {
background: rgb(213,73,2);
background: linear-gradient(90deg, rgba(213,73,2,1) 0%, rgba(255,101,0,1) 35%, rgba(255,155,0,1) 100%);
}
#pf1 {
   font-size: 40px;
   color: ##000000;
   font-family: 'Montserrat', sans-serif;
}
#pf2 {
  font-size: 33px;
  color: ##000000;
  font-family: 'Montserrat', sans-serif;
}
.btn1{
 width:200px; 
 background-color: #ffffff; 
 height:40px;  
 color: black;
 border-radius:10px ;
}

img {
  width: 200px;
  height: 200px;
}

#logo {
  background-color: white;
  width: max-content;
  display: Flex;
  margin-right: auto;
  margin-left: auto;
  border-radius: 300px;
  margin-top: 50px;
  box-shadow: 5px solid ;
  
}
